@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(6rem, 1fr);
    grid-template-rows: repeat(3, mincontent);
    grid-row-gap: 1.6rem;
    margin-top: 1.6rem;
}

.social-icons {
    grid-column: 2 /4;
    grid-row: 1 / 2;
    list-style: none; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    align-items: center;
}

.social-icon {
    font-size: 1.8rem;
    color: #222;
    transition: all 0.5s;
}

.social-icon:hover {
    color: orangered;
    transform: rotateZ(360deg);
}

.first-nav {
    grid-column: 6 /10;
    grid-row: 1 / 2;
}

.first-nav-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    list-style: none;
}

.first-nav-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #222;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.first-nav-link::after {
    content: '';
    width: 0;
    height: 0.1rem;
    background-color: orangered;    
    display: block;
    margin: auto;
    transition: width 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.first-nav-link:hover::after {
    width: 100%;
}

.first-nav-link span {
    font-size: 1.3rem;
    color: orangered;    
}

.first-nav-link i {
    font-size: 1.3rem;
    margin-right: 0.3rem;
}

.search {
    grid-column: 8 / 10;
    grid-row: 2/ 3;
}

.search-form {
    display: grid;
    grid-template-columns: repeat(10, 10%);
}

.search-input {
    grid-column: 3 / -1;
    grid-row: 1 / 2;
    padding: 0.3rem 0.4rem;
    font-size: 1.3rem;
    border: 0.1rem dotted #222;
    border-radius: 0.5rem;
    outline: none;
}

.search-btn {
    grid-column: 10 / -1;
    grid-row: 1 / 2;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.second-nav {
    grid-column: 2 /10;
    grid-row: 3 / 4;
}

.second-nav-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr))
}

.dropdown {
    display: none;
}


